<tr>
  <td><%= gist.id %></td>
  <td><%= gist.question[0..25] %></td>
  <td><%= link_to t(".url"), gist.url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
  <td><%= gist.created_at.iso8601 %></td>
</tr>
