<h1><%= t('.test') %> <%= @test_passage.test.title %> was completed.</h1>

<%= t('.greatings') %>
<% if @test_passage.passed? %>
  <font face="times" color="green"><%= t('.passed') %></font>
<% else %>
  <font face="verdana" color="red"><%= t('.failed') %></font>
<% end %>

<p>
  <%= link_to t('.back'), tests_path %>
</p>
