<h1><%= t(".title") %></h1>

<%= render 'shared/errors', resource: @test %>

<p>
  <table>
    <tr>
      <th><%= t(".id") %></th>
      <th><%= t(".title") %></th>
      <th><%= t(".level") %></th>
      <th><%= t(".author") %></th>
      <th><%= t(".questions_number") %></th>
      <th><%= t(".created") %></th>
      <th><%= t(".updated") %></th>
      <th><%= t(".start") %></th>
      <th><%= t(".edit") %></th>
      <th><%= t(".delete") %></th>
    </tr>
    <%= render @tests %>
  </table>
</p>

<p>
  <%= link_to t(".create"), new_admin_test_path, class: 'btn btn-primary' %>
</p>
