<h1><%= t('.title') %></h1>
<div>
  <%= link_to t('.edit'), edit_admin_test_path(@test) %>
  <%= link_to t('.delete'), admin_test_path(@test), method: :delete %>
</div>

<p>
  <div><%= t('.test_title') %>: <%= @test.title %></div>
  <div><%= t('.category') %>: <%= @test.category.title %></div>
  <div><%= t('.level') %>: <%= @test.level %></div>
  <div><%= t('.author') %>: <%= @test.author.name %></div>
  <div><%= t('.questions_number') %>: <%= @test.questions.size %></div>
</p>

<% if @test.questions.present?  %>
  <h2><%= t('.questions') %>:</h2>
  <p>
    <%= render @test.questions %>
  </p>
<% end %>

<p>
  <div><%= link_to t('.add'), new_admin_test_question_path(@test) %></div>
  <div><%= link_to t('.all_tests'), admin_tests_path %></div>
</p>
