<% if controller_name != 'sessions' %>
  <% if logged_in? %>
    <p>
      Welcome, <%= current_user.name %>
      <%= link_to 'Guru', root_path %>.
    </p>
    <p>
      <%= link_to 'Logout', logout_path %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Login', login_path %>
      or
      <%= link_to 'Sign up', signup_path %>
    </p>
  <% end %>
<% end %>