<h1><%= t('.header') %></h1>

<p>
  <table class="table">
    <tr>
      <th><%= t('.id') %></th>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.author') %></th>
      <th><%= t('.questions_number') %></th>
      <th><%= t('.created') %></th>
      <th><%= t('.updated') %></th>
      <th><%= t('.start') %></th>
    </tr>
    <%= render @tests %>
  </table>
</p>
